*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #F38181;
}

.menu{
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background:#FFFFFF;
    z-index: 1; 
    border-bottom: 3px solid #EAFFD0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

a.tbl-pink{
    background: #95E1D3;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover{
    background: #F38181;
    text-decoration: none;
}

#contact{
    background: #eeeeee;
    padding: 50px 0px 50px 0px;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 20%;
    margin: 0 auto;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F38181;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.tengah{
    text-align: center;
    width: 100%;
}

.myself-list{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.myself-happy{
    width: 20%;
    margin: 0 auto;
}

.myself-happy img{
    width: 80%;
    border-radius: 50%;
}

.myself-happy p{
    font-family: monospace;
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color:#F38181 ;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #F38181;
    width: 100%;
    line-height: 50px;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 991.98px) {
    .wrapper{
        width: 90%;
    }

    .logo a{
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu{
        width: 100%;
        margin: 0;
    }

    nav .menu ul{
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li{
        display: inline-block;
        float: none;
    }

    section{
        display: block;
    }

    section img{
        display: block;
        width: 100%;
        height: auto;
    }

    .myself-happy{
        width: 50%;
    }

    #contact{
        display: block;
        width: 100%;
        height: auto;
    }



}